@page "/student-list"
@inherits StudentListBase
@inject NavigationManager Navigation

<DeleteConfirmation ConfirmationChanged="ConfirmDelete_Click" Title="Delete Student" Message="Are you sure ?" ButtonText="Yes, Delete"></DeleteConfirmation>


@if (studentList.Count != 0)
{
    <h3>Student List</h3>
    <div class="container-fluid shadow">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Gender</td>
                        <td>Date of Birth</td>
                        <td>Current Address</td>
                        <td>ACTION</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in studentList)
                    {

                        <tr>
                            <td>@student!.Name</td>
                            <td>@student.Email</td>
                            @if (student.Gender == 1)
                            {
                                <td>Male</td>
                            }
                            else
                            {
                                <td>Female</td>
                            }

                            <td>@student.DateOfBirth.ToString("yyyy-MM-dd")</td>
                            @if (student != null)
                            {
                                studentResponse = student;
                                SetAddress();
                            }
                            <td>
                                @Current_Address.City,
                                @Current_Address.State ,
                                @Current_Address.Country,
                                @Current_Address.ZipCode
                            </td>

                            <td>
                                <span class="Edit-button" @onclick="()=>NavigateToEditStudent(student!.Id)"><i class="fa-solid fa-pen-to-square"></i></span>
                                <span class="Delete-button" @onclick:preventDefault=true @onclick="()=>HandleDelete(student!.Id)"><i class="fa-solid fa-trash"></i></span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
}
else
{
    <h3>No Records</h3>
}
@code {
    private void NavigateToEditStudent(Guid Id)
    {
        string url = $"/edit-student?id={Id}";
        Navigation.NavigateTo(url);
    } 

}
