@page "/student-list"
@inherits StudentListBase
@inject NavigationManager Navigation

<DeleteConfirmation ConfirmationChanged="ConfirmDelete_Click" Title="Delete Student" Message="Are you sure ?" ButtonText="Yes, Delete"></DeleteConfirmation>
<h3>Student List</h3>
<div class="container-fluid shadow">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Age</td>
                    <td>Email</td>
                    <td>Current Address</td>
                    <td>Permanent Address</td>
                    <td>ACTION</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var student in studentList)
                {
                    @if (student != null)
                    {
                        SetAddress(student);
                    }
                    <tr>
                        <td>@student!.Name</td>
                        <td>@student.Age</td>
                        <td>@student.Email</td>
                        <td>
                            @Current_Address.City,
                            @Current_Address.State ,
                            @Current_Address.Country,
                            @Current_Address.ZipCode
                        </td>
                        <td>
                            @Permanent_Address.City,
                            @Permanent_Address.State ,
                            @Permanent_Address.Country,
                            @Permanent_Address.ZipCode
                        </td>
                        <td>
                            <span class="Edit-button" @onclick="()=>NavigateToEditStudent(student.Id)"><i class="fa-solid fa-pen-to-square"></i></span>
                            <span class="Delete-button" @onclick:preventDefault=true @onclick="()=>HandleDelete(student.Id)"><i class="fa-solid fa-trash"></i></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@code {
    private void NavigateToEditStudent(Guid Id)
    {
        string url = $"/edit-student?id={Id}";
        Navigation.NavigateTo(url);
    } 

}
